<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
   <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="orderQueueName" value=".\private$\metnoringtest1"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Mentoring.Messaging.Service.MessagingIntegrationService">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\metnoringtest1"
          binding="msmqIntegrationBinding" bindingConfiguration="MessagingIntegrationServiceBinding"
          contract="Mentoring.Messaging.Service.IMessagingIntegrationService" />
      </service>
    </services>

    <bindings>
      <msmqIntegrationBinding>
        <binding name="MessagingIntegrationServiceBinding" exactlyOnce="false">
          <security mode="None"/>
        
        </binding>
      </msmqIntegrationBinding>
    </bindings>

  </system.serviceModel>
</configuration>